@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "../libs/fontello/fontello"

*
	box-sizing: border-box

*::-webkit-input-placeholder
	color: rgb(0, 0, 0)
	opacity: 0.44

*:focus::-webkit-input-placeholder
	opacity: 0
	transition: opacity 0.3s ease

*:-moz-placeholder
	color: rgb(0, 0, 0)
	opacity: 0.44

*:focus:-moz-placeholder
	opacity: 0
	transition: opacity 0.3s ease

*::-moz-placeholder
	color: rgb(0, 0, 0)
	opacity: 0.44

*:focus::-moz-placeholder
	opacity: 0
	transition: opacity 0.3s ease

*:-ms-input-placeholder
	color: rgb(0, 0, 0)
	opacity: 0.44

*:focus:-ms-input-placeholder
	opacity: 0
	transition: opacity 0.3s ease

a
	text-decoration: none
	@include transition
	color: rgb(174, 174, 174)

a:hover, a:focus
	outline: none
	text-decoration: none
	color: rgb(74, 74, 74)

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666

body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $helvetica_light
	background: $sup-background_color
	overflow-x: hidden
	height: 100vh

h1, h2
	padding: 0
	margin: 0
	font-family: Arial, sans-serif
	color: rgb(255, 255, 255)

.img-responsive
	display: block
	max-width: 100%
	height: auto

.inline-right
	text-align: right

/*Sup-background styles*/
.sup-background
	position: absolute
	width: 100%
	height: 100vh
	background: $background_color
/*End of sup-background styles*/

/*Header styles*/
.header
	background: rgb(255, 255, 255)
	position: relative
	&__logo
		line-height: 71px
	&__form
		display: inline-block
		position: relative
		font-family: Arial, sans-serif
		color: rgb(174, 174, 174)
		&-label
			font-size: 0.938em
			text-transform: uppercase
			margin-right: 8px
		&-subscribe
			display: none
		&-input
			padding-left: 35px
			width: 235px
			height: 30px
			font-size: 0.875em
			color: rgb(74, 74, 74)
			border: 1px solid rgb(174, 174, 174)
			background-image: url('../img/icon-mail.svg')
			background-position: 10px 7.5px
			background-repeat: no-repeat
			&:focus, &:active
				outline: none
		&-button
			position: absolute
			padding: 0
			height: 28px
			line-height: 27px
			width: 24px
			top: 1px
			left: 304px
			border: none
			background-color: rgb(255, 255, 255)
			&:hover, &:focus, &:active
				outline: none
		&-btn
			font-size: 0.813em
			color: rgb(244, 87, 72)
	&__link
		line-height: 71px
		border-left: 2px solid rgb(174, 174, 174)
		color: rgb(174, 174, 174)
		padding-left: 15px
		margin-left: 20px
/*End of Header styles*/

/*Main Styles*/
.main
	//&__content
	//	display: flex
	//	flex-direction: column
	//	justify-content: center
	&__heading
		font-weight: 700
		font-size: 2.313em
		//padding: 170px 0 30px
		letter-spacing: 3px
	&__subheading
		font-size: 1.188em
		//padding-bottom: 35px
		letter-spacing: 1px

@import "media"
// Всегда в конце
